@font-face {
    font-family: 'Comic Neue', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
}
html {
    font-size: 16px;;
    background-color: lightcyan;
    font-family: 'Comic Neue';
}

/*for header element*/
header {
    text-decoration: underline;
    font-size: large;
    text-align: center;
}

#navbar:hover {
    font-weight: bold;
    background-color: darkturquoise;
}

* {
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
}

img[target = _dokkan]{
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

p::first-letter {
    font-size: 30px;
}

section h2 {
    background-color: #98fb98;
}

section > h3 {
    background-color: hsl(340, 100, 97);
}

br ~ h3 {
    padding: 15px;
}

br + p {
    font-family: 'Courier New', Courier, monospace;
}


/* Header styles */

h1, h2 {
    color: rgb(255,165,0); /*orange*/
}

.Header {
    font-size: 2.5rem;
    font-weight: bold;
}

/*lists*/

.Unordered li {
    font-size: 0.9em;
    font-style: italic;
}

.Ordered li {
    font-size: 0.9em;
}

/*External Assets - Images / Videos / Audio*/

img.Entry {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    padding: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;

}

audio {
    display: inline;
}

video {
    display: block;
    margin: auto;
    position: relative;

}

/*Derek's Classes*/
 
.JEntry {
    margin-top: 10px;
    margin: 20px;
}

.Navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
}

@media all and (max-width: 800px){
    .Navigation {
        justify-content: right;
    }
}

.NavigationItem {
    font: 20;
    padding: 2cm;
    flex: auto;
}

.EntryNav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: aqua;
    padding: 10px;
}

.EntryNavItem {
    justify-self: left;
    align-self: center;
}

